<!DOCTYPE html>

table {
border: medium solid #6495ed;
border-collapse: collapse;
width: 50%;
}
th {
font-family: monospace;
border: thin solid #6495ed;
padding: 5px;
background-color: #D0E3FA;
}
td {
font-family: monospace;
border: thin solid #6495ed;
padding: 5px;
text-align: left;
background-color: #ffffff;
}
caption {
font-family: sans-serif;
}

